* {
    padding: 0;
    margin: 0;
    border: .5px solid orange;
    font-family: 'Rubik', sans-serif;
}

/* Nav bar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    display: flex;
    width: 150px;
    height: 150px;
}

.nav-bar li {
    display: inline;
    /* padding: 0px 20px; */
}

.nav-bar li > a {
    text-decoration: none;
    padding: 0px 20px;
    font-weight: bold;
}